[submodule "cpp/third_party/libzmq"]
	path = cpp/third_party/libzmq
	url = https://github.com/zeromq/libzmq.git
	branch = master
[submodule "cpp/third_party/fmt"]
	path = cpp/third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "cpp/third_party/googletest"]
	path = cpp/third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "cpp/third_party/libsodium"]
	path = cpp/third_party/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "cpp/third_party/cppzmq"]
	path = cpp/third_party/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "cpp/third_party/msgpack-c"]
	path = cpp/third_party/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
	branch = cpp_master
